.sbw-comment-widget-default{
  font-family: "Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
  .comments-container{
    .comment{
      text-align: left;
      background: #fff;
      padding: 3px;
      margin-bottom: 4px;
      padding-left: 5px;
      box-shadow: 1px 2px 2px rgb(177, 175, 175);
      height: 60px;
      img{
        height: 50px;
        width: 50px;
        float: left;
        margin: 5px;
      }
    }
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    background: #eee;
 }
  .action-container{
    border: 1px solid rgb(204, 191, 191);
    background: #fff;
    padding-left: 5px;
    textarea{
      resize: none;
      outline: none;
      margin-right: 0px;
      border-right: none;
      margin-top: 2px;
      width: 67%;
      border: none;
      padding: 0;
    }
    .post-comment{
      padding: 10px;
      color: #ff417e;
      background: #f5f5f5;
      float: right;
      margin-left: 0px;
      margin-top: 2px;
      width: 33%;
      border: none;
    }
  }
}